@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotateConfig {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes appears {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.spinConfgIcon {
    transition: all 5s ease-in-out;
    color: white;
    animation: rotateConfig 5s ease-in-out infinite;
}

* {
    transition: all .3s ease;
}

.appears {
    animation: appears .3s ease;
}
